target
*.iml
*.idea
*.idea/*
 .idea/workspace.xml
*.iml
./*.iml
*/target
*/*/target
.idea/.name
.idea/modules/spark-assembly.iml
.idea/modules/spark-catalyst.iml
.idea/modules/spark-core.iml
.idea/modules/spark-examples.iml
.idea/modules/spark-graphx.iml
.idea/modules/spark-hive.iml
.idea/modules/spark-mllib.iml
.idea/modules/spark-repl.iml
.idea/modules/spark-sql-kafka-0-10.iml
.idea/modules/spark-sql.iml
.idea/modules/spark-streaming-kafka-0-10-assembly.iml
.idea/modules/spark-streaming-kafka-0-10.iml
.idea/modules/spark-streaming.iml
.idea/sbt.xml
.idea/workspace.xml
